@import '~antd/dist/antd.less';
@import './variables.less';

.App {
  background: @warning-color;

  .logo {
    height: 65px;
  }
}

.ant-layout {
  min-height: 100vh;
}

.align-center {
  text-align: center;
}

.form-login-container {
  padding: 16px 32px;
  background-color: #FAFAFA;
  border-radius: 4px;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #d4d2d2d5;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: white;
  background: rgb(170, 170, 170);
  line-height: 64px;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: white;
  transition: all 0.2s;
}