@import '~antd/dist/antd.less';
@import './variables.less';

.App {
  background: @warning-color;
}

.logo {
  height: 64px;
  line-height: 64px;
  text-align: center;
}

.link {
  cursor: pointer;
}

.ant-layout {
  min-height: 100vh;
}

.align-center {
  text-align: center;
}

.form-login-container {
  padding: 16px 32px;
  background-color: @greyish-white;
  border-radius: 4px;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fcfcfc;
}

.ant-layout-header {
  height: 64px;
  padding: 0 18px;
  background: rgb(170, 170, 170);
  line-height: 64px;
}

.site-header {
  display: flex;
  justify-content: flex-end;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: white;
  transition: all 0.2s;
}

.sidebar-container {
  position: relative;

  .sidebar-trigger {
    background-color: @primary-color;
    color: @greyish-white;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
  }
}

// override
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item {
  margin-top: 0;
}

.lead-details {
  .lead-info {
    border: 1px solid @light-grey;
    border-radius: 2px;
    padding: 16px 24px;
  }

  .lead-details-tabs {
    border-top: 1px solid @light-grey;
    border-right: 1px solid @light-grey;
    border-radius: 2px;
    padding: 16px 24px;
  }

  .comment-section {
    .ant-col:nth-child(1) {
      padding: 16px 8px 16px 0;
    }

    .ant-col:nth-child(2) {
      padding: 16px 8px;
    }

    .ant-col:nth-child(3) {
      padding: 16px 0 16px 8px;
    }
  }
}